ETHEREUM_CONSENSUS_HOSTNAME=ethereum-lighthouse
POLYGON_HEIMDALL_HOSTNAME=polygon-heimdall
POLYGON_HEIMDALL_REST_SERVER_URL=http://polygon-heimdall-rest-server:1317
OP_NODE_L1_BEACON_URL=http://ethereum-lighthouse:5052
OP_NODE_L1_BEACON_ARCHIVER_URL=http://ethereum-lighthouse:5052
CA_ETHEREUM_RPC_URL=http://ethereum-geth:8545
