services:
  arbitrum-one:
    image: chainargos/arbitrum:3.9.5-1@sha256:5ab263a1bee65d64b2b38c39a39a22a035cec1aceb6a11f543c81bc052a54f0f
    container_name: arbitrum-one
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-arbitrum.env
        required: false
    ports:
      - "8547:8547"
      - "8548:8548"
    volumes:
      - ${ARBITRUM_ROOT_DIR:-~}/arbitrum:/data

  avax-avalanchego:
    image: chainargos/avalanchego:1.14.1-1@sha256:c00fbeaa915b76b2419ed4fd3481e2a97cf6332e1c4736d1595299a45e47f28b
    container_name: avax-avalanchego
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "9650:9650"
    volumes:
      - ${AVAX_ROOT_DIR:-~}/avax:/data

  base-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: base-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "8648:8648"
      - "30304:30304/tcp"
      - "30304:30304/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  base-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: base-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "9223:9223/tcp"
      - "9223:9223/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  berachain-beacon-kit:
    image: chainargos/beacon-kit:1.3.6-1@sha256:1dc0f2c0b9bdfbe2267db2cfca872810392841227ede2ae46ce20c8388233b90
    container_name: berachain-beacon-kit
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "26756:26756"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  berachain-reth:
    image: chainargos/bera-reth:1.3.1-1@sha256:998a09b61494c4f3d0468ee8d533702c4551daa7d365a0a1e0dbd555eb0cb176
    container_name: berachain-reth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "8654:8654"
      - "30308:30308/tcp"
      - "30308:30308/udp"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  bitcoin-cash:
    image: chainargos/bitcoin-cash:28.0.1-1@sha256:9b86f5d5797a208b243096fc36825b7a696f77c4e7e40c200264843521971397
    container_name: bitcoin-cash
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8334:8334"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bitcoin-core:
    image: chainargos/bitcoin-core:30.2-1@sha256:bcb1bc76314298067b0855106ddcd70fa8e059285ab9f056065857276fb4de3c
    container_name: bitcoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8332:8332"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bsc-geth:
    image: chainargos/bsc-geth:1.6.7-1@sha256:c6ccc6f0359a780004156b854fdaf800146c71b51638f1999a1fd7e086c70e2f
    container_name: bsc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8645:8645"
      - "30310:30310/tcp"
      - "30310:30310/udp"
    volumes:
      - ${BSC_ROOT_DIR:-~}/bsc:/data

  cardano-node:
    image: chainargos/cardano-node:10.5.4-1@sha256:b0f34860280d5aedf8cb67c72df9933162dead5bbed569c2b1646dde8a5b584c
    container_name: cardano-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    volumes:
      - ${CARDANO_ROOT_DIR:-~}/cardano:/data

  celo-eigenda-proxy:
    image: chainargos/eigenda-proxy:1.8.2-1@sha256:d547cc64c3c06c028dbb32123d3fe0aac5176c597842a13cb28205120a16d53a
    container_name: celo-eigenda-proxy
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "4242:4242"
    environment:
      CA_NETWORK: celo

  celo-geth:
    image: chainargos/celo-geth:1.8.9-1@sha256:0a88c703e3411560c665146f717036ba0d9118e22a24d6e1076503874f7bc83b
    container_name: celo-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8649:8649"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-geth:
    image: chainargos/celo-op-geth:2.1.4-1@sha256:8f8cab66c1f4c920a87ff1057e57c281a829cc3b951fc9bb2689d8e0820fbc90
    container_name: celo-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "8656:8656"
      - "30312:30312/tcp"
      - "30312:30312/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-node:
    image: chainargos/celo-op-node:2.1.1-1@sha256:ca2e4a8438264064b4e6d710dc64565b098c3e743862b9f90e25b73865d6f5b7
    container_name: celo-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "9226:9226/tcp"
      - "9226:9226/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  dogecoin-core:
    image: chainargos/dogecoin-core:1.14.8-1@sha256:fd8cead0989b98796b005c008c8ed119e1d6747ec863a3776f1631acb18adc2a
    container_name: dogecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8352:8352"
    volumes:
      - ${DOGECOIN_ROOT_DIR:-~}/dogecoin:/data

  fetchai-fetchd:
    image: chainargos/fetchd:0.14.1-1
    container_name: fetchai-fetchd
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    environment:
      CA_USE_SNAPSHOT: "true"
    volumes:
      - ${FETCHAI_ROOT_DIR:-~}/fetchai:/data

  ethereum-geth:
    image: chainargos/geth:1.17.0-1@sha256:faa03f0fa359f300a909ccee4b2a03f4667e920f4297a11cd67fb666d3e801d9
    container_name: ethereum-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "8545:8545"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  ethereum-lighthouse:
    image: chainargos/lighthouse:8.1.0-1@sha256:3e1874942ca18da772ad937f3506c97368a296210feca6e62c1973c209614ed6
    container_name: ethereum-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "5052:5052"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  fraxtal-op-geth:
    image: chainargos/fraxtal-op-geth:1.101609.0-frax-1.3.0-1@sha256:c5ab7667141537c3d325ca1dbf3d1e84e8e478ae12bcc1626c8d3fdb7d64f417
    container_name: fraxtal-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-fraxtal.env
        required: false
    ports:
      - "8661:8661"
      - "30316:30316/tcp"
      - "30316:30316/udp"
    volumes:
      - ${FRAXTAL_ROOT_DIR:-~}/fraxtal:/data

  fraxtal-op-node:
    image: chainargos/fraxtal-op-node:1.16.6-frax-1.2.0-1@sha256:8ca16672f023f282634822520cab5ea7cfcb0be6fafcd396435e61da4112f657
    container_name: fraxtal-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-fraxtal.env
        required: false
    ports:
      - "9228:9228/tcp"
      - "9228:9228/udp"
    volumes:
      - ${FRAXTAL_ROOT_DIR:-~}/fraxtal:/data

  gnosis-geth:
    image: chainargos/gnosis-geth:1.16.7-gc.4-1
    container_name: gnosis-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "8660:8660"
      - "30315:30315/tcp"
      - "30315:30315/udp"
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  gnosis-lighthouse:
    image: chainargos/lighthouse:8.1.0-1@sha256:3e1874942ca18da772ad937f3506c97368a296210feca6e62c1973c209614ed6
    container_name: gnosis-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "4000:4000"
      - "9000:9000/tcp"
      - "9000:9000/udp"
    environment:
      CA_NETWORK: gnosis
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  hashkeychain-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: hashkeychain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-hashkeychain.env
        required: false
    ports:
      - "8662:8662"
      - "30317:30317/tcp"
      - "30317:30317/udp"
    environment:
      CA_NETWORK: hashkeychain
    volumes:
      - ${HASHKEYCHAIN_ROOT_DIR:-~}/hashkeychain:/data

  hashkeychain-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: hashkeychain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-hashkeychain.env
        required: false
    ports:
      - "9229:9229/tcp"
      - "9229:9229/udp"
    environment:
      CA_NETWORK: hashkeychain
    volumes:
      - ${HASHKEYCHAIN_ROOT_DIR:-~}/hashkeychain:/data

  heco-geth:
    image: chainargos/heco-geth:1.2.2-1@sha256:360cd106ef7d1ae47c96103889e3a34d7293f2bc763ef351f4a3ffcac4024e10
    container_name: heco-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8646:8646"
    volumes:
      - ${HECO_ROOT_DIR:-~}/heco:/data

  ink-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: ink-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "8652:8652"
      - "30307:30307/tcp"
      - "30307:30307/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  ink-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: ink-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "9224:9224/tcp"
      - "9224:9224/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  kcc-geth:
    image: chainargos/kcc-geth:1.4.4-1@sha256:b36bb09e6eae838b7b0396b621d024b683c02f1f50faf9ede15104d45b649b32
    container_name: kcc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8647:8647"
    volumes:
      - ${KCC_ROOT_DIR:-~}/kcc:/data

  linea-geth:
    image: chainargos/geth:1.17.0-1@sha256:faa03f0fa359f300a909ccee4b2a03f4667e920f4297a11cd67fb666d3e801d9
    container_name: linea-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-linea.env
        required: false
    ports:
      - "8659:8659"
      - "30314:30314/tcp"
      - "30314:30314/udp"
    environment:
      CA_NETWORK: linea
    volumes:
      - ${LINEA_ROOT_DIR:-~}/linea:/data

  litecoin-core:
    image: chainargos/litecoin-core:0.21.4-1@sha256:ca63ba6490ed52a3c71abaabfedb4bef7038a19ac254efc1b3cbe1a59ef489bc
    container_name: litecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8342:8342"
    volumes:
      - ${LITECOIN_ROOT_DIR:-~}/litecoin:/data

  optimism-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: optimism-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "8651:8651"
      - "30306:30306/tcp"
      - "30306:30306/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  optimism-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: optimism-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "9222:9222/tcp"
      - "9222:9222/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  polygon-bor:
    image: chainargos/bor:2.6.0-1@sha256:38a0e8a923368c68b64a9e1827906309f68d1a27428a592392fd3a28c6d11a37
    container_name: polygon-bor
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "8945:8945"
      - "30305:30305/tcp"
      - "30305:30305/udp"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  polygon-heimdall:
    image: chainargos/heimdall:0.6.0-1@sha256:dac41aa66bed314a61f327bee5b3d4b9cc78d8a8c8257613c5d4d3e660b726d1
    container_name: polygon-heimdall
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  ronin-geth:
    image: chainargos/ronin-geth:1.1.2-1@sha256:b408a3e90e1f8be6d3210bcfec80a37af2b77a511cb93fb77fec9fc1c81010a1
    container_name: ronin-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8745:8745"
      - "30311:30311/tcp"
      - "30311:30311/udp"
    volumes:
      - ${RONIN_ROOT_DIR:-~}/ronin:/data

  scroll-geth:
    image: chainargos/scroll-geth:5.10.2-1@sha256:e29618ed0a9e2e22cb17a9c7111619e80a99e4bfdfd3cb1cf85df803d09c780e
    container_name: scroll-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8650:8650"
    volumes:
      - ${SCROLL_ROOT_DIR:-~}/scroll:/data

  sonic-geth:
    image: chainargos/sonic-geth:2.1.5-1@sha256:928afa4a55a702ce5e223cc7024ebefe4b75d85de698596f99335774e5c3a45e
    container_name: sonic-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8658:8658"
    volumes:
      - ${SONIC_ROOT_DIR:-~}/sonic:/data

  tezos-octez-node:
    image: chainargos/octez:166077302-1@sha256:e23e8ee67966b1dffc4c84ea43b5715b9345f4a2efcd60607204aa55e5b5a831
    container_name: tezos-octez-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8732:8732"
    volumes:
      - ${TEZOS_ROOT_DIR:-~}/tezos:/data

  omnicore:
    image: chainargos/omnicore:0.12.0.1-1@sha256:59d2dcc7e08a5231ed8fba7d07c97889959a8c4b93c4c54a1af3269d47ca0208
    container_name: omnicore
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8333:8333"
    volumes:
      - ${OMNI_ROOT_DIR:-~}/omni:/data

  tron-java:
    image: chainargos/tron-java:4.8.1-1@sha256:7c48e82a4edbf74dc12ce5e020f56dd631c851f914a303408567640d14736381
    container_name: tron-java
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "28090:28090"
      - "28545:28545"
    volumes:
      - ${TRON_ROOT_DIR:-~}/tron:/data

  unichain-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: unichain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "8655:8655"
      - "30309:30309/tcp"
      - "30309:30309/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  unichain-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: unichain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "9225:9225/tcp"
      - "9225:9225/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  wbt-geth:
    image: chainargos/wbt-geth:1.2.0-1@sha256:4ae42594c409b59cbd8c62d4160089de602c2dec19b1fb41fb7ae8e78e5fc431
    container_name: wbt-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8653:8653"
    volumes:
      - ${WBT_ROOT_DIR:-~}/wbt:/data

  worldchain-op-geth:
    image: chainargos/op-geth:1.101609.0-1@sha256:647ad452e71979f24f04be6e07ec83f7d8c5a88318591034e87b86c758fdcfde
    container_name: worldchain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "8657:8657"
      - "30313:30313/tcp"
      - "30313:30313/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data

  worldchain-op-node:
    image: chainargos/op-node:1.16.7-1@sha256:f6f882c90071c0f80b300cda906773b548b6fa6d493e6f0990a921b5ba882780
    container_name: worldchain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "9227:9227/tcp"
      - "9227:9227/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data
