services:
  arbitrum-one:
    image: donbeave/arbitrum:3.9.2-1
    container_name: arbitrum-one
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-arbitrum.env
        required: false
    ports:
      - "8547:8547"
      - "8548:8548"
    volumes:
      - ${ARBITRUM_ROOT_DIR:-~}/arbitrum:/data

  avax-avalanchego:
    image: donbeave/avalanchego:1.14.0-1
    container_name: avax-avalanchego
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "9650:9650"
    volumes:
      - ${AVAX_ROOT_DIR:-~}/avax:/data

  base-op-geth:
    image: donbeave/op-geth:1.101603.5-1
    container_name: base-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "8648:8648"
      - "30304:30304/tcp"
      - "30304:30304/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  base-op-node:
    image: donbeave/op-node:1.16.2-1
    container_name: base-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "9223:9223/tcp"
      - "9223:9223/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  berachain-beacon-kit:
    image: donbeave/beacon-kit:1.3.3-1
    container_name: berachain-beacon-kit
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "26756:26756"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  berachain-reth:
    image: donbeave/bera-reth:1.3.1-1
    container_name: berachain-reth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "8654:8654"
      - "30308:30308/tcp"
      - "30308:30308/udp"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  bitcoin-core:
    image: donbeave/bitcoin-core:30.0-1
    container_name: bitcoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8332:8332"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bsc-geth:
    image: donbeave/bsc-geth:1.6.3-1
    container_name: bsc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8645:8645"
      - "30310:30310/tcp"
      - "30310:30310/udp"
    volumes:
      - ${BSC_ROOT_DIR:-~}/bsc:/data

  cardano-node:
    image: donbeave/cardano-node:10.5.3-1
    container_name: cardano-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    volumes:
      - ${CARDANO_ROOT_DIR:-~}/cardano:/data

  celo-eigenda-proxy:
    image: donbeave/eigenda-proxy:1.8.2-1
    container_name: celo-eigenda-proxy
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "4242:4242"
    environment:
      CA_NETWORK: celo

  celo-geth:
    image: donbeave/celo-geth:1.8.9-1
    container_name: celo-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8649:8649"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-geth:
    image: donbeave/celo-op-geth:2.1.2-1
    container_name: celo-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "8656:8656"
      - "30312:30312/tcp"
      - "30312:30312/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-node:
    image: donbeave/celo-op-node:2.1.0-1
    container_name: celo-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "9226:9226/tcp"
      - "9226:9226/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  dogecoin-core:
    image: donbeave/dogecoin-core:1.14.8-1
    container_name: dogecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8352:8352"
    volumes:
      - ${DOGECOIN_ROOT_DIR:-~}/dogecoin:/data

  ethereum-geth:
    image: donbeave/geth:1.16.7-1
    container_name: ethereum-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "8545:8545"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  ethereum-lighthouse:
    image: donbeave/lighthouse:8.0.1-1
    container_name: ethereum-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "5052:5052"
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  heco-geth:
    image: donbeave/heco-geth:1.2.2-1
    container_name: heco-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8646:8646"
    volumes:
      - ${HECO_ROOT_DIR:-~}/heco:/data

  ink-op-geth:
    image: donbeave/op-geth:1.101603.5-1
    container_name: ink-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "8652:8652"
      - "30307:30307/tcp"
      - "30307:30307/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  ink-op-node:
    image: donbeave/op-node:1.16.2-1
    container_name: ink-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "9224:9224/tcp"
      - "9224:9224/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  kcc-geth:
    image: donbeave/kcc-geth:1.4.4-1
    container_name: kcc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8647:8647"
    volumes:
      - ${KCC_ROOT_DIR:-~}/kcc:/data

  linea-geth:
    image: donbeave/geth:1.16.7-1
    container_name: linea-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-linea.env
        required: false
    ports:
      - "8659:8659"
      - "30314:30314/tcp"
      - "30314:30314/udp"
    environment:
      CA_NETWORK: linea
    volumes:
      - ${LINEA_ROOT_DIR:-~}/linea:/data

  litecoin-core:
    image: donbeave/litecoin-core:0.21.4-1
    container_name: litecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8342:8342"
    volumes:
      - ${LITECOIN_ROOT_DIR:-~}/litecoin:/data

  optimism-op-geth:
    image: donbeave/op-geth:1.101603.5-1
    container_name: optimism-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "8651:8651"
      - "30306:30306/tcp"
      - "30306:30306/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  optimism-op-node:
    image: donbeave/op-node:1.16.2-1
    container_name: optimism-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "9222:9222/tcp"
      - "9222:9222/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  polygon-bor:
    image: donbeave/bor:2.5.0-1
    container_name: polygon-bor
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "8945:8945"
      - "30305:30305/tcp"
      - "30305:30305/udp"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  polygon-heimdall:
    image: donbeave/heimdall:0.4.3-1
    container_name: polygon-heimdall
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  ronin-geth:
    image: donbeave/ronin-geth:1.1.2-1
    container_name: ronin-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8745:8745"
      - "30311:30311/tcp"
      - "30311:30311/udp"
    volumes:
      - ${RONIN_ROOT_DIR:-~}/ronin:/data

  scroll-geth:
    image: donbeave/scroll-geth:5.9.2-1
    container_name: scroll-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8650:8650"
    volumes:
      - ${SCROLL_ROOT_DIR:-~}/scroll:/data

  sonic-geth:
    image: donbeave/sonic-geth:2.1.4-1
    container_name: sonic-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8658:8658"
    volumes:
      - ${SONIC_ROOT_DIR:-~}/sonic:/data

  tezos-octez-node:
    image: donbeave/octez:166077302-1
    container_name: tezos-octez-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8732:8732"
    volumes:
      - ${TEZOS_ROOT_DIR:-~}/tezos:/data

  tron-java:
    image: donbeave/tron-java:4.8.0-1
    container_name: tron-java
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "28090:28090"
      - "28545:28545"
    volumes:
      - ${TRON_ROOT_DIR:-~}/tron:/data

  unichain-op-geth:
    image: donbeave/op-geth:1.101603.5-1
    container_name: unichain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "8655:8655"
      - "30309:30309/tcp"
      - "30309:30309/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  unichain-op-node:
    image: donbeave/op-node:1.16.2-1
    container_name: unichain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "9225:9225/tcp"
      - "9225:9225/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  wbt-geth:
    image: donbeave/wbt-geth:1.2.0-1
    container_name: wbt-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8653:8653"
    volumes:
      - ${WBT_ROOT_DIR:-~}/wbt:/data

  worldchain-op-geth:
    image: donbeave/op-geth:1.101603.5-1
    container_name: worldchain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "8657:8657"
      - "30313:30313/tcp"
      - "30313:30313/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data

  worldchain-op-node:
    image: donbeave/op-node:1.16.2-1
    container_name: worldchain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "9227:9227/tcp"
      - "9227:9227/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data
