services:
  arbitrum-one:
    image: donbeave/arbitrum:3.9.2-1@sha256:7013cb1db6dd4ffc74e9acbdcbb5940322a8658981f7c3a700d5e2dcaec8c671
    container_name: arbitrum-one
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-arbitrum.env
        required: false
    ports:
      - "8547:8547"
      - "8548:8548"
    volumes:
      - ${ARBITRUM_ROOT_DIR:-~}/arbitrum:/data

  avax-avalanchego:
    image: donbeave/avalanchego:1.14.0-1@sha256:4cba5e51a2f553fff3f6fed3fff81c759c16bc283d45ddb0c174a3496544a965
    container_name: avax-avalanchego
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "9650:9650"
    volumes:
      - ${AVAX_ROOT_DIR:-~}/avax:/data

  base-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:3a0cb8a1a062fd31b3f505be770bec649a33cfdf603b9d3161040bb9c9236a6f
    container_name: base-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "8648:8648"
      - "30304:30304/tcp"
      - "30304:30304/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  base-op-node:
    image: donbeave/op-node:1.16.3-1@sha256:d665a8c616ba2004d000b091054d80604c85d5e2868d5d94997f29bb403f44db
    container_name: base-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "9223:9223/tcp"
      - "9223:9223/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  berachain-beacon-kit:
    image: donbeave/beacon-kit:1.3.4-1@sha256:9dec4ebf08cbf55b417edd228638aa5019edb25009394181ae3688b4b8ed726c
    container_name: berachain-beacon-kit
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "26756:26756"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  berachain-reth:
    image: donbeave/bera-reth:1.3.1-1@sha256:fb251ad6aa1701a70c13b0334a5cdb20398891338f60ae5fe7d2a1b9f6149c19
    container_name: berachain-reth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "8654:8654"
      - "30308:30308/tcp"
      - "30308:30308/udp"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  bitcoin-core:
    image: donbeave/bitcoin-core:30.0-1@sha256:ae87569a2c2bc3f9b1b535e30274c9f065b965f201ff4e6ba04856ac5877d8fd
    container_name: bitcoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8332:8332"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bsc-geth:
    image: donbeave/bsc-geth:1.6.4-1@sha256:66dada161ae6563423c0716fc9d3844e9cd834a08b69d792f4f27e44007f097a
    container_name: bsc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8645:8645"
      - "30310:30310/tcp"
      - "30310:30310/udp"
    volumes:
      - ${BSC_ROOT_DIR:-~}/bsc:/data

  cardano-node:
    image: donbeave/cardano-node:10.5.3-1@sha256:4ce76794426f87aab0bf43a582e5120f6b422bf33f9856bff671026ed7703df2
    container_name: cardano-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    volumes:
      - ${CARDANO_ROOT_DIR:-~}/cardano:/data

  celo-eigenda-proxy:
    image: donbeave/eigenda-proxy:1.8.2-1@sha256:45c697202937ff8eeffebb22212fb29ccf75a57643c084d5c4569c4a854df9fd
    container_name: celo-eigenda-proxy
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "4242:4242"
    environment:
      CA_NETWORK: celo

  celo-geth:
    image: donbeave/celo-geth:1.8.9-1@sha256:289a3e88fea378b6adf92052e29eda8e4199a6cfd3f17a88b0cb43a9fa34a0e4
    container_name: celo-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8649:8649"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-geth:
    image: donbeave/celo-op-geth:2.1.2-1@sha256:e6d9fdcdbb94ef94aef6e7b33f16fd7ef2f51e962dd220862461e4822977e311
    container_name: celo-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "8656:8656"
      - "30312:30312/tcp"
      - "30312:30312/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-node:
    image: donbeave/celo-op-node:2.1.0-1
    container_name: celo-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "9226:9226/tcp"
      - "9226:9226/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  dogecoin-core:
    image: donbeave/dogecoin-core:1.14.8-1@sha256:d2555f48cc1700a4d3f0ff5a7baf1024898ee752b19b952c4b6a120ff3084dfd
    container_name: dogecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8352:8352"
    volumes:
      - ${DOGECOIN_ROOT_DIR:-~}/dogecoin:/data

  ethereum-geth:
    image: donbeave/geth:1.16.7-1@sha256:f823e6791499055d4a74ab10e0ab29fbc08388d7d97a9c18c27fc90ace456e53
    container_name: ethereum-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "8545:8545"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  ethereum-lighthouse:
    image: donbeave/lighthouse:8.0.1-1@sha256:2a83350ce287ab6e77bf48735001cc1640ccb3e29f07199d42dd781ce02ed77e
    container_name: ethereum-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "5052:5052"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  gnosis-geth:
    image: donbeave/gnosis-geth:1.16.7-gc.4-1@sha256:81ebd41fbb930aebe94e8d6b899abbf2107059bfd3a39a2c55164a446e283e0a
    container_name: gnosis-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "8660:8660"
      - "30315:30315/tcp"
      - "30315:30315/udp"
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  gnosis-lighthouse:
    image: donbeave/lighthouse:8.0.1-1@sha256:2a83350ce287ab6e77bf48735001cc1640ccb3e29f07199d42dd781ce02ed77e
    container_name: gnosis-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "4000:4000"
      - "9000:9000/tcp"
      - "9000:9000/udp"
    environment:
      CA_NETWORK: gnosis
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  heco-geth:
    image: donbeave/heco-geth:1.2.2-1@sha256:dd4c1546cfa631dfaaea53e59e2d7674be0bd16455e81fa58fe7d596d11adc09
    container_name: heco-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8646:8646"
    volumes:
      - ${HECO_ROOT_DIR:-~}/heco:/data

  ink-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:3a0cb8a1a062fd31b3f505be770bec649a33cfdf603b9d3161040bb9c9236a6f
    container_name: ink-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "8652:8652"
      - "30307:30307/tcp"
      - "30307:30307/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  ink-op-node:
    image: donbeave/op-node:1.16.3-1@sha256:d665a8c616ba2004d000b091054d80604c85d5e2868d5d94997f29bb403f44db
    container_name: ink-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "9224:9224/tcp"
      - "9224:9224/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  kcc-geth:
    image: donbeave/kcc-geth:1.4.4-1@sha256:74c56968f30404a2b278e456aeef9486e1c35fc140cd98cb27c03643050a62a3
    container_name: kcc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8647:8647"
    volumes:
      - ${KCC_ROOT_DIR:-~}/kcc:/data

  linea-geth:
    image: donbeave/geth:1.16.7-1@sha256:f823e6791499055d4a74ab10e0ab29fbc08388d7d97a9c18c27fc90ace456e53
    container_name: linea-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-linea.env
        required: false
    ports:
      - "8659:8659"
      - "30314:30314/tcp"
      - "30314:30314/udp"
    environment:
      CA_NETWORK: linea
    volumes:
      - ${LINEA_ROOT_DIR:-~}/linea:/data

  litecoin-core:
    image: donbeave/litecoin-core:0.21.4-1@sha256:1d6c6239fd8e93f54fffafe2934b2acafbd8a15c6995905731cbdc5a6af75466
    container_name: litecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8342:8342"
    volumes:
      - ${LITECOIN_ROOT_DIR:-~}/litecoin:/data

  optimism-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:3a0cb8a1a062fd31b3f505be770bec649a33cfdf603b9d3161040bb9c9236a6f
    container_name: optimism-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "8651:8651"
      - "30306:30306/tcp"
      - "30306:30306/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  optimism-op-node:
    image: donbeave/op-node:1.16.3-1@sha256:d665a8c616ba2004d000b091054d80604c85d5e2868d5d94997f29bb403f44db
    container_name: optimism-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "9222:9222/tcp"
      - "9222:9222/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  polygon-bor:
    image: donbeave/bor:2.5.0-1@sha256:8437f73bd126af35e05d01a678a947590277775696ae2f89d6e4a7709af2cfe0
    container_name: polygon-bor
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "8945:8945"
      - "30305:30305/tcp"
      - "30305:30305/udp"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  polygon-heimdall:
    image: donbeave/heimdall:0.4.3-1@sha256:ec0360080b77cdee37ae2091705810f2f77b839c038ded0111e66d114127cf6d
    container_name: polygon-heimdall
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  ronin-geth:
    image: donbeave/ronin-geth:1.1.2-1@sha256:673cf5053fa38e26f8c2df9ae5a9e10dba9fe619a19bdae8626cd9ade85053b1
    container_name: ronin-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8745:8745"
      - "30311:30311/tcp"
      - "30311:30311/udp"
    volumes:
      - ${RONIN_ROOT_DIR:-~}/ronin:/data

  scroll-geth:
    image: donbeave/scroll-geth:5.9.2-1@sha256:0ed25ec878cfc924e4b92f722cad38220176fbf7c4fe6a5d9ca5f9f22c7b0806
    container_name: scroll-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8650:8650"
    volumes:
      - ${SCROLL_ROOT_DIR:-~}/scroll:/data

  sonic-geth:
    image: donbeave/sonic-geth:2.1.4-1@sha256:68adf7ed90c63bd2ba4e2bbbb663434f19d145b95c0da9aa3b09be18c8995a18
    container_name: sonic-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8658:8658"
    volumes:
      - ${SONIC_ROOT_DIR:-~}/sonic:/data

  tezos-octez-node:
    image: donbeave/octez:166077302-1@sha256:91c7188967917f81f2ba0aa8cdf812112602ac0199af5ffa0340715b3fea5a68
    container_name: tezos-octez-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8732:8732"
    volumes:
      - ${TEZOS_ROOT_DIR:-~}/tezos:/data

  omnicore:
    image: donbeave/omnicore:0.12.0.1-1@sha256:077eb517f35468ec8bb7887089215f78018ca50e96511f41162e8b1a18466b39
    container_name: omnicore
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8333:8333"
    volumes:
      - ${OMNI_ROOT_DIR:-~}/omni:/data

  tron-java:
    image: donbeave/tron-java:4.8.0-1@sha256:927ba61f46a681cb41f4e34c9917a98d4b9a626ccec5e96229a7c748816d29eb
    container_name: tron-java
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "28090:28090"
      - "28545:28545"
    volumes:
      - ${TRON_ROOT_DIR:-~}/tron:/data

  unichain-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:3a0cb8a1a062fd31b3f505be770bec649a33cfdf603b9d3161040bb9c9236a6f
    container_name: unichain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "8655:8655"
      - "30309:30309/tcp"
      - "30309:30309/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  unichain-op-node:
    image: donbeave/op-node:1.16.3-1@sha256:d665a8c616ba2004d000b091054d80604c85d5e2868d5d94997f29bb403f44db
    container_name: unichain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "9225:9225/tcp"
      - "9225:9225/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  wbt-geth:
    image: donbeave/wbt-geth:1.2.0-1@sha256:25065f0ebc06855e975e6036ad8ba1ec93c08031cb1620c79c1eb663413d5598
    container_name: wbt-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8653:8653"
    volumes:
      - ${WBT_ROOT_DIR:-~}/wbt:/data

  worldchain-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:3a0cb8a1a062fd31b3f505be770bec649a33cfdf603b9d3161040bb9c9236a6f
    container_name: worldchain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "8657:8657"
      - "30313:30313/tcp"
      - "30313:30313/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data

  worldchain-op-node:
    image: donbeave/op-node:1.16.3-1@sha256:d665a8c616ba2004d000b091054d80604c85d5e2868d5d94997f29bb403f44db
    container_name: worldchain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "9227:9227/tcp"
      - "9227:9227/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data
