services:
  arbitrum-one:
    image: donbeave/arbitrum:3.9.2-1@sha256:7013cb1db6dd4ffc74e9acbdcbb5940322a8658981f7c3a700d5e2dcaec8c671
    container_name: arbitrum-one
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-arbitrum.env
        required: false
    ports:
      - "8547:8547"
      - "8548:8548"
    volumes:
      - ${ARBITRUM_ROOT_DIR:-~}/arbitrum:/data

  avax-avalanchego:
    image: donbeave/avalanchego:1.14.0-1@sha256:4cba5e51a2f553fff3f6fed3fff81c759c16bc283d45ddb0c174a3496544a965
    container_name: avax-avalanchego
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "9650:9650"
    volumes:
      - ${AVAX_ROOT_DIR:-~}/avax:/data

  base-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:e880405f5198f2c16071957b95bf2e370089771004e3329adebdcdf2a0d71268
    container_name: base-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "8648:8648"
      - "30304:30304/tcp"
      - "30304:30304/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  base-op-node:
    image: donbeave/op-node:1.16.2-1@sha256:f0c3f748647af947d841698bb333c0affce628bf118ef42382df0c7e367cd0c0
    container_name: base-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "9223:9223/tcp"
      - "9223:9223/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  berachain-beacon-kit:
    image: donbeave/beacon-kit:1.3.3-1@sha256:ac71f38ecbb9de4649914f2cada33dd374b3c1f4162a424a5c0f09d3f74e771d
    container_name: berachain-beacon-kit
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "26756:26756"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  berachain-geth:
    image: donbeave/bera-geth:1.011607.0-1@sha256:d314f2ba1fa4e4c77a07ae72090066305f5f4c62026c0c4ab30cbb6d217bea14
    container_name: berachain-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "8654:8654"
      - "30308:30308/tcp"
      - "30308:30308/udp"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  bitcoin-core:
    image: donbeave/bitcoin-core:30.0-1@sha256:cae973dcaeac9f82c6969c54b095cfafc46a39e4b7d710963a486283d5b11d80
    container_name: bitcoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8332:8332"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bsc-geth:
    image: donbeave/bsc-geth:1.6.3-1@sha256:d962bb16fe37eaec23b468fb88c3aaa83bd70bd838322bcfc2be2033c3d58659
    container_name: bsc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8645:8645"
      - "30310:30310/tcp"
      - "30310:30310/udp"
    volumes:
      - ${BSC_ROOT_DIR:-~}/bsc:/data

  cardano-node:
    image: donbeave/cardano-node:10.5.3-1@sha256:4ce76794426f87aab0bf43a582e5120f6b422bf33f9856bff671026ed7703df2
    container_name: cardano-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    volumes:
      - ${CARDANO_ROOT_DIR:-~}/cardano:/data

  celo-eigenda-proxy:
    image: donbeave/eigenda-proxy:1.8.2-1@sha256:10c2aee3ec377541e339aababe888985b26dc0f6c48372ebff7400abee162e9f
    container_name: celo-eigenda-proxy
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "4242:4242"
    environment:
      CA_NETWORK: celo

  celo-geth:
    image: donbeave/celo-geth:1.8.9-1@sha256:289a3e88fea378b6adf92052e29eda8e4199a6cfd3f17a88b0cb43a9fa34a0e4
    container_name: celo-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8649:8649"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-geth:
    image: donbeave/celo-op-geth:2.1.2-1@sha256:e6d9fdcdbb94ef94aef6e7b33f16fd7ef2f51e962dd220862461e4822977e311
    container_name: celo-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "8656:8656"
      - "30312:30312/tcp"
      - "30312:30312/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-node:
    image: donbeave/celo-op-node:2.1.0-1
    container_name: celo-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "9226:9226/tcp"
      - "9226:9226/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  dogecoin-core:
    image: donbeave/dogecoin-core:1.14.8-1@sha256:3781b01206e18f483566e517fd3d5fbafb35a185dbf1b95ccd0d811aabd86737
    container_name: dogecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8352:8352"
    volumes:
      - ${DOGECOIN_ROOT_DIR:-~}/dogecoin:/data

  ethereum-geth:
    image: donbeave/geth:1.16.7-1@sha256:f823e6791499055d4a74ab10e0ab29fbc08388d7d97a9c18c27fc90ace456e53
    container_name: ethereum-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "8545:8545"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  ethereum-lighthouse:
    image: donbeave/lighthouse:8.0.1-1@sha256:fa4642d9a86695c6781384ac4b1b31b16f8cbcbb8600979d08f31739d181ff13
    container_name: ethereum-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "5052:5052"
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  heco-geth:
    image: donbeave/heco-geth:1.2.2-1@sha256:6656582bf835348519bcb3408bfcacc0068e2881c67b530c2c3fd77b91c12f80
    container_name: heco-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8646:8646"
    volumes:
      - ${HECO_ROOT_DIR:-~}/heco:/data

  ink-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:e880405f5198f2c16071957b95bf2e370089771004e3329adebdcdf2a0d71268
    container_name: ink-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "8652:8652"
      - "30307:30307/tcp"
      - "30307:30307/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  ink-op-node:
    image: donbeave/op-node:1.16.2-1@sha256:f0c3f748647af947d841698bb333c0affce628bf118ef42382df0c7e367cd0c0
    container_name: ink-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "9224:9224/tcp"
      - "9224:9224/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  kcc-geth:
    image: donbeave/kcc-geth:1.4.4-1@sha256:74c56968f30404a2b278e456aeef9486e1c35fc140cd98cb27c03643050a62a3
    container_name: kcc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8647:8647"
    volumes:
      - ${KCC_ROOT_DIR:-~}/kcc:/data

  linea-geth:
    image: donbeave/geth:1.16.7-1@sha256:f823e6791499055d4a74ab10e0ab29fbc08388d7d97a9c18c27fc90ace456e53
    container_name: linea-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-linea.env
        required: false
    ports:
      - "8659:8659"
      - "30314:30314/tcp"
      - "30314:30314/udp"
    environment:
      CA_NETWORK: linea
    volumes:
      - ${LINEA_ROOT_DIR:-~}/linea:/data

  litecoin-core:
    image: donbeave/litecoin-core:0.21.4-1@sha256:c7747cfb69ecd36e7f1d425a32b0b749864043ffc528a0493d4468db4116eb28
    container_name: litecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8342:8342"
    volumes:
      - ${LITECOIN_ROOT_DIR:-~}/litecoin:/data

  optimism-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:e880405f5198f2c16071957b95bf2e370089771004e3329adebdcdf2a0d71268
    container_name: optimism-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "8651:8651"
      - "30306:30306/tcp"
      - "30306:30306/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  optimism-op-node:
    image: donbeave/op-node:1.16.2-1@sha256:f0c3f748647af947d841698bb333c0affce628bf118ef42382df0c7e367cd0c0
    container_name: optimism-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "9222:9222/tcp"
      - "9222:9222/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  polygon-bor:
    image: donbeave/bor:2.5.0-1@sha256:8437f73bd126af35e05d01a678a947590277775696ae2f89d6e4a7709af2cfe0
    container_name: polygon-bor
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "8945:8945"
      - "30305:30305/tcp"
      - "30305:30305/udp"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  polygon-heimdall:
    image: donbeave/heimdall:0.4.3-1@sha256:bbd06bb42a82b3cd13e13d95435248adf3eee84d757de402e30bf64ca917a6da
    container_name: polygon-heimdall
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  ronin-geth:
    image: donbeave/ronin-geth:1.1.2-1@sha256:2af60a8498f534f62e70cd3864478f6f844f15985df3fd243ac41ffeb41049e1
    container_name: ronin-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8745:8745"
      - "30311:30311/tcp"
      - "30311:30311/udp"
    volumes:
      - ${RONIN_ROOT_DIR:-~}/ronin:/data

  scroll-geth:
    image: donbeave/scroll-geth:5.9.2-1@sha256:7cdd8fe085fb7ab4bb4c7ab9589c09376d40da0f709a9649285a5262ba7704d4
    container_name: scroll-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8650:8650"
    volumes:
      - ${SCROLL_ROOT_DIR:-~}/scroll:/data

  sonic-geth:
    image: donbeave/sonic-geth:2.1.4-1@sha256:a270b7f92a6d095f5d99a762115b7e25306c9ce492fbb56c0bc5cb5af98328ee
    container_name: sonic-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8658:8658"
    volumes:
      - ${SONIC_ROOT_DIR:-~}/sonic:/data

  tezos-octez-node:
    image: donbeave/octez:166077302-1@sha256:8a68b0f131033c3c1470d9dafb5e6a5c621b9e3022af8127ad4a95f93845edb1
    container_name: tezos-octez-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8732:8732"
    volumes:
      - ${TEZOS_ROOT_DIR:-~}/tezos:/data

  tron-java:
    image: donbeave/tron-java:4.8.0-1@sha256:927ba61f46a681cb41f4e34c9917a98d4b9a626ccec5e96229a7c748816d29eb
    container_name: tron-java
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "28090:28090"
      - "28545:28545"
    volumes:
      - ${TRON_ROOT_DIR:-~}/tron:/data

  unichain-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:e880405f5198f2c16071957b95bf2e370089771004e3329adebdcdf2a0d71268
    container_name: unichain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "8655:8655"
      - "30309:30309/tcp"
      - "30309:30309/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  unichain-op-node:
    image: donbeave/op-node:1.16.2-1@sha256:f0c3f748647af947d841698bb333c0affce628bf118ef42382df0c7e367cd0c0
    container_name: unichain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "9225:9225/tcp"
      - "9225:9225/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  wbt-geth:
    image: donbeave/wbt-geth:1.2.0-1@sha256:25065f0ebc06855e975e6036ad8ba1ec93c08031cb1620c79c1eb663413d5598
    container_name: wbt-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8653:8653"
    volumes:
      - ${WBT_ROOT_DIR:-~}/wbt:/data

  worldchain-op-geth:
    image: donbeave/op-geth:1.101603.5-1@sha256:e880405f5198f2c16071957b95bf2e370089771004e3329adebdcdf2a0d71268
    container_name: worldchain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "8657:8657"
      - "30313:30313/tcp"
      - "30313:30313/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data

  worldchain-op-node:
    image: donbeave/op-node:1.16.2-1@sha256:f0c3f748647af947d841698bb333c0affce628bf118ef42382df0c7e367cd0c0
    container_name: worldchain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "9227:9227/tcp"
      - "9227:9227/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data
