services:
  arbitrum-one:
    image: chainargos/arbitrum:3.9.5-1
    container_name: arbitrum-one
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-arbitrum.env
        required: false
    ports:
      - "8547:8547"
      - "8548:8548"
    volumes:
      - ${ARBITRUM_ROOT_DIR:-~}/arbitrum:/data

  avax-avalanchego:
    image: chainargos/avalanchego:1.14.1-1
    container_name: avax-avalanchego
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "9650:9650"
    volumes:
      - ${AVAX_ROOT_DIR:-~}/avax:/data

  base-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: base-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "8648:8648"
      - "30304:30304/tcp"
      - "30304:30304/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  base-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: base-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-base.env
        required: false
    ports:
      - "9223:9223/tcp"
      - "9223:9223/udp"
    environment:
      CA_NETWORK: base
    volumes:
      - ${BASE_ROOT_DIR:-~}/base:/data

  berachain-beacon-kit:
    image: chainargos/beacon-kit:1.3.6-1
    container_name: berachain-beacon-kit
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "26756:26756"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  berachain-reth:
    image: chainargos/bera-reth:1.3.1-1
    container_name: berachain-reth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-berachain.env
        required: false
    ports:
      - "8654:8654"
      - "30308:30308/tcp"
      - "30308:30308/udp"
    volumes:
      - ${BERACHAIN_ROOT_DIR:-~}/berachain:/data

  bitcoin-cash:
    image: chainargos/bitcoin-cash:28.0.1-1
    container_name: bitcoin-cash
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8334:8334"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bitcoin-core:
    image: chainargos/bitcoin-core:30.2-1
    container_name: bitcoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8332:8332"
    volumes:
      - ${BITCOIN_ROOT_DIR:-~}/bitcoin:/data

  bsc-geth:
    image: chainargos/bsc-geth:1.6.6-1
    container_name: bsc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8645:8645"
      - "30310:30310/tcp"
      - "30310:30310/udp"
    volumes:
      - ${BSC_ROOT_DIR:-~}/bsc:/data

  cardano-node:
    image: chainargos/cardano-node:10.5.4-1
    container_name: cardano-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    volumes:
      - ${CARDANO_ROOT_DIR:-~}/cardano:/data

  celo-eigenda-proxy:
    image: chainargos/eigenda-proxy:1.8.2-1
    container_name: celo-eigenda-proxy
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "4242:4242"
    environment:
      CA_NETWORK: celo

  celo-geth:
    image: chainargos/celo-geth:1.8.9-1
    container_name: celo-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8649:8649"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-geth:
    image: chainargos/celo-op-geth:2.1.3-1
    container_name: celo-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "8656:8656"
      - "30312:30312/tcp"
      - "30312:30312/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  celo-op-node:
    image: chainargos/celo-op-node:2.1.1-1
    container_name: celo-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-celo.env
        required: false
    ports:
      - "9226:9226/tcp"
      - "9226:9226/udp"
    volumes:
      - ${CELO_ROOT_DIR:-~}/celo:/data

  dogecoin-core:
    image: chainargos/dogecoin-core:1.14.8-1
    container_name: dogecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8352:8352"
    volumes:
      - ${DOGECOIN_ROOT_DIR:-~}/dogecoin:/data

  fetchai-fetchd:
    image: chainargos/fetchd:0.14.1-1
    container_name: fetchai-fetchd
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    environment:
      CA_USE_SNAPSHOT: "true"
    volumes:
      - ${FETCHAI_ROOT_DIR:-~}/fetchai:/data

  ethereum-geth:
    image: chainargos/geth:1.16.8-1
    container_name: ethereum-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "8545:8545"
      - "30303:30303/tcp"
      - "30303:30303/udp"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  ethereum-lighthouse:
    image: chainargos/lighthouse:8.1.0-1
    container_name: ethereum-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ethereum.env
        required: false
    ports:
      - "5052:5052"
    environment:
      CA_NETWORK: ethereum
    volumes:
      - ${ETHEREUM_ROOT_DIR:-~}/ethereum:/data

  fraxtal-op-geth:
    image: chainargos/fraxtal-op-geth:1.101605.0-frax-1.3.0-1
    container_name: fraxtal-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-fraxtal.env
        required: false
    ports:
      - "8661:8661"
      - "30316:30316/tcp"
      - "30316:30316/udp"
    volumes:
      - ${FRAXTAL_ROOT_DIR:-~}/fraxtal:/data

  fraxtal-op-node:
    image: chainargos/fraxtal-op-node:1.16.5-frax-1.2.0-1
    container_name: fraxtal-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-fraxtal.env
        required: false
    ports:
      - "9228:9228/tcp"
      - "9228:9228/udp"
    volumes:
      - ${FRAXTAL_ROOT_DIR:-~}/fraxtal:/data

  gnosis-geth:
    image: chainargos/gnosis-geth:1.16.7-gc.4-1
    container_name: gnosis-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "8660:8660"
      - "30315:30315/tcp"
      - "30315:30315/udp"
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  gnosis-lighthouse:
    image: chainargos/lighthouse:8.1.0-1
    container_name: gnosis-lighthouse
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-gnosis.env
        required: false
    ports:
      - "4000:4000"
      - "9000:9000/tcp"
      - "9000:9000/udp"
    environment:
      CA_NETWORK: gnosis
    volumes:
      - ${GNOSIS_ROOT_DIR:-~}/gnosis:/data

  hashkeychain-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: hashkeychain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-hashkeychain.env
        required: false
    ports:
      - "8662:8662"
      - "30317:30317/tcp"
      - "30317:30317/udp"
    environment:
      CA_NETWORK: hashkeychain
    volumes:
      - ${HASHKEYCHAIN_ROOT_DIR:-~}/hashkeychain:/data

  hashkeychain-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: hashkeychain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-hashkeychain.env
        required: false
    ports:
      - "9229:9229/tcp"
      - "9229:9229/udp"
    environment:
      CA_NETWORK: hashkeychain
    volumes:
      - ${HASHKEYCHAIN_ROOT_DIR:-~}/hashkeychain:/data

  heco-geth:
    image: chainargos/heco-geth:1.2.2-1
    container_name: heco-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8646:8646"
    volumes:
      - ${HECO_ROOT_DIR:-~}/heco:/data

  ink-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: ink-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "8652:8652"
      - "30307:30307/tcp"
      - "30307:30307/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  ink-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: ink-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-ink.env
        required: false
    ports:
      - "9224:9224/tcp"
      - "9224:9224/udp"
    environment:
      CA_NETWORK: ink
    volumes:
      - ${INK_ROOT_DIR:-~}/ink:/data

  kcc-geth:
    image: chainargos/kcc-geth:1.4.4-1
    container_name: kcc-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8647:8647"
    volumes:
      - ${KCC_ROOT_DIR:-~}/kcc:/data

  linea-geth:
    image: chainargos/geth:1.16.8-1
    container_name: linea-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-linea.env
        required: false
    ports:
      - "8659:8659"
      - "30314:30314/tcp"
      - "30314:30314/udp"
    environment:
      CA_NETWORK: linea
    volumes:
      - ${LINEA_ROOT_DIR:-~}/linea:/data

  litecoin-core:
    image: chainargos/litecoin-core:0.21.4-1
    container_name: litecoin-core
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8342:8342"
    volumes:
      - ${LITECOIN_ROOT_DIR:-~}/litecoin:/data

  optimism-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: optimism-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "8651:8651"
      - "30306:30306/tcp"
      - "30306:30306/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  optimism-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: optimism-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-optimism.env
        required: false
    ports:
      - "9222:9222/tcp"
      - "9222:9222/udp"
    environment:
      CA_NETWORK: optimism
    volumes:
      - ${OPTIMISM_ROOT_DIR:-~}/optimism:/data

  polygon-bor:
    image: chainargos/bor:2.5.8-1
    container_name: polygon-bor
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "8945:8945"
      - "30305:30305/tcp"
      - "30305:30305/udp"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  polygon-heimdall:
    image: chainargos/heimdall:0.6.0-1
    container_name: polygon-heimdall
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-polygon.env
        required: false
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"
    volumes:
      - ${POLYGON_ROOT_DIR:-~}/polygon:/data

  ronin-geth:
    image: chainargos/ronin-geth:1.1.2-1
    container_name: ronin-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8745:8745"
      - "30311:30311/tcp"
      - "30311:30311/udp"
    volumes:
      - ${RONIN_ROOT_DIR:-~}/ronin:/data

  scroll-geth:
    image: chainargos/scroll-geth:5.10.2-1
    container_name: scroll-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8650:8650"
    volumes:
      - ${SCROLL_ROOT_DIR:-~}/scroll:/data

  sonic-geth:
    image: chainargos/sonic-geth:2.1.5-1
    container_name: sonic-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8658:8658"
    volumes:
      - ${SONIC_ROOT_DIR:-~}/sonic:/data

  tezos-octez-node:
    image: chainargos/octez:166077302-1
    container_name: tezos-octez-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8732:8732"
    volumes:
      - ${TEZOS_ROOT_DIR:-~}/tezos:/data

  omnicore:
    image: chainargos/omnicore:0.12.0.1-1
    container_name: omnicore
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8333:8333"
    volumes:
      - ${OMNI_ROOT_DIR:-~}/omni:/data

  tron-java:
    image: chainargos/tron-java:4.8.1-1
    container_name: tron-java
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "28090:28090"
      - "28545:28545"
    volumes:
      - ${TRON_ROOT_DIR:-~}/tron:/data

  unichain-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: unichain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "8655:8655"
      - "30309:30309/tcp"
      - "30309:30309/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  unichain-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: unichain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-unichain.env
        required: false
    ports:
      - "9225:9225/tcp"
      - "9225:9225/udp"
    environment:
      CA_NETWORK: unichain
    volumes:
      - ${UNICHAIN_ROOT_DIR:-~}/unichain:/data

  wbt-geth:
    image: chainargos/wbt-geth:1.2.0-1
    container_name: wbt-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file: "containers.env"
    ports:
      - "8653:8653"
    volumes:
      - ${WBT_ROOT_DIR:-~}/wbt:/data

  worldchain-op-geth:
    image: chainargos/op-geth:1.101608.0-1
    container_name: worldchain-op-geth
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "8657:8657"
      - "30313:30313/tcp"
      - "30313:30313/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data

  worldchain-op-node:
    image: chainargos/op-node:1.16.6-1
    container_name: worldchain-op-node
    restart: unless-stopped
    stop_grace_period: 15m
    env_file:
      - path: containers.env
        required: true
      - path: containers-worldchain.env
        required: false
    ports:
      - "9227:9227/tcp"
      - "9227:9227/udp"
    environment:
      CA_NETWORK: worldchain
    volumes:
      - ${WORLDCHAIN_ROOT_DIR:-~}/worldchain:/data
