on: [push]

jobs:
  docker-debian-blockchain-base:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: debian-blockchain-base

  docker-debian-blockchain-build:
    needs: docker-debian-blockchain-base
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: debian-blockchain-build

  docker-arbitrum:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: arbitrum

  docker-avalanchego:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: avalanchego

  docker-beacon-kit:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: beacon-kit

  docker-bera-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: bera-geth

  docker-bitcoin-core:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: bitcoin-core

  docker-bor:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: bor

  docker-bsc-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: bsc-geth

  docker-cardano-node:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: cardano-node

  docker-celo-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: celo-geth

  docker-dogecoin-core:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: dogecoin-core

  docker-eigenda-proxy:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: eigenda-proxy

  docker-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: geth

  docker-heco-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: heco-geth

  docker-heimdall:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: heimdall
      enable-lfs: true

  docker-kcc-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: kcc-geth

  docker-lighthouse:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: lighthouse

  docker-litecoin-core:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: litecoin-core

  docker-octez:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: octez

  docker-celo-op-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: celo-op-geth

  docker-celo-op-node:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: celo-op-node

  docker-op-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: op-geth

  docker-op-node:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: op-node

  docker-ronin-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: ronin-geth

  docker-scroll-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: scroll-geth

  docker-sonic-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: sonic-geth

  docker-tron-java:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: tron-java

  docker-wbt-geth:
    needs: docker-debian-blockchain-build
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      package: wbt-geth
